
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~mdbootstrap/css/bootstrap';
@import '~mdbootstrap/sass/mdb.scss';


.navbar .dropdown-menu a:hover {
  background-color: #59698d!important;
  color: #FFFFFF!important;
}
#social-logins a {
  border: 2px solid #3F729B;
  color: #1C2A48 !important;
  //width: 100%;
}
